:root {
    --background-color: #070c0e;
    --background-color-lighter: #1b1f20;
    --primary-color: #33e48c;
    --primary-color-lighter: #75f1b3;
    --text-color: #f2fdf4;
    --text-color-gray: #cbcecc;
}

/* Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Main CSS */

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
}

.header {
    height: 64px;
    background-color: var(--background-color-lighter);
    display: flex;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
}

.home {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-list {
    display: flex;
    gap: 1rem;
}

.nav-link {
    position: relative;
    transition: color 1s ease;
    color: var(--text-color-gray);
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 1s ease;
}

.nav-link:hover {
    color: var(--primary-color-lighter)
}

.nav-link:hover::after {
    width: 100%;
}

/* Container */

.container {
    max-width: 1080px;
    width: 100%;
    margin-inline: auto; 
    min-height: 100vh;
    padding-inline: 20px;
    box-sizing: border-box; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.3em 0;
    margin-top: 1em;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 200;
    color: var(--primary-color-lighter);
}

/* Class cards */
.class-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    gap: 1rem;
    width: 100%;
}

.class-card {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    border-radius: 5px;
    background-color: var(--background-color-lighter);
    border: 1px solid var(--background-color);
    transition: all 0.5s ease;
}

.class-card:hover {
    transform: translateY(-5px);
    border: 1px solid var(--primary-color-lighter);
}

.class-title {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.class-icon {
    height: 24px;
    width: 24px;
}

.class-title-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.class-description {
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem;
}